

      <table class="householdgiving_grid" summary="Person list">
        <% first = HouseholdGiving.first%>
         <tr>
           <th class="householdgiving_grid_names">Campus</th>
           <th class="householdgiving_grid_names">Family</th>
           <th class="householdgiving_grid_dates"><%= first.month1[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month2[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month3[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month4[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month5[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month6[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month7[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month8[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month9[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month10[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month11[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month12[0] %></th>
           <th class="householdgiving_grid_names">Annual Avg</th>
           <th class="householdgiving_grid_names">Last Qtr Avg</th>
         </tr>
         <% HouseholdGiving.all.each do |h| %>
         <tr>
            <th class="householdgiving_grid_names"><%= h.campus %></th>
            <th class="householdgiving_grid_names"><%= h.family %></th>
            <th class="householdgiving_grid_dates">$<%= h.month1[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month2[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month3[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month4[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month5[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month6[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month7[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month8[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month9[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month10[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month11[1] %></th>
            <th class="householdgiving_grid_dates">$<%= h.month12[1] %></th>
            <th class="householdgiving_grid_names">$<%= h.annavg %></th>
            <th class="householdgiving_grid_names">$<%= h.lastqtravg %></th>
        </tr>
        <% end %>
      </table>
