<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>

<% donation_count = @donations.count %>
<% donation_total = 0.00 %>
<% @donations.each do |d| %>
<%     donation_total += d["amount_cents"]/100 %>
<% end %>
<% donation_average = donation_total / donation_count %>
<% checkins_total = @checkins.count %>
<% checkins_guest = @checkins.where(:checkin_kind => "Guest").count %>
<% checkins_regular = checkins_total - checkins_guest %>
<% mailchimplist_count = Mailchimplist.count %>


<body class="body page-index clearfix">
  <div class="landing_header_bar">
    <p>
      <br/>
    </p>
  </div>
  <div class="landing_title">
    <p>
      PCODashboard
    </p>
  </div>
  <!--
  <div class="landing_login">
    <p>
      User Login
    </p>
  </div>
-->
  <div class="admin_login">
  <p>
    <%= link_to 'Admin Login', "/admin",style: "color: white" %>
  </p>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="admin_footer">
  <div class="admin_footer_1">
      <p class="footer_title">Total People</p>
      <p></p>
      <p class="footer_text"><%= @people.count %></p>
  </div>

  <div class="admin_footer_2">
      <p class="footer_title">Total Donations</p>
      <p></p>
      <p class="footer_text"><%= donation_count %></p>
  </div>
  <div class="admin_footer_3">
      <p class="footer_title">Total CheckIns</p>
      <p></p>
      <p class="footer_text"><%= @checkins.count %></p>
  </div>
  <div class="admin_footer_4">
      <p class="footer_title">Mailchimp Lists</p>
      <p></p>
      <p class="footer_text"><%= mailchimplist_count %></p>
  </div>
</div>

</body>
</body>
</html>
