<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>

<% donation_count = @donations.count %>
<% donation_total = 0.00 %>
<% @donations.each do |d| %>
<%     donation_total += d["amount_cents"]/100 %>
<% end %>
<% donation_average = donation_total / donation_count %>
<% checkins_total = @checkins.count %>
<% checkins_guest = @checkins.where(:checkin_kind => "Guest").count %>
<% checkins_regular = checkins_total - checkins_guest %>


<body class="body page-index clearfix">

  <div class="element element-2">
      <p class="text text-110">Total People</p>
      <p></p>
      <p class="text text-11"><%= @people.count %></p>
  </div>
  <div class="element element-3">
      <p class="text text-120">Total Donations</p>
      <p></p>
      <p class="text text-12"><%= donation_count %></p>
  </div>
  <div class="element element-4">
      <p class="text text-130">Total CheckIns</p>
      <p></p>
      <p class="text text-13"><%= @checkins.count %></p>
  </div>
  <div class="element element-5">
      <p class="text text-140">Total Active</p>
      <p></p>
      <p class="text text-14"><%= @people.where(:people_status => 'active').count %></p>
  </div>
  <div class="element element-6">
      <p class="text text-150">Total $</p>
      <p></p>
      <p class="text text-15"><%= number_to_currency(donation_total) %></p>
  </div>
  <div class="element element-7">
      <p class="text text-160">Guest CheckIns</p>
      <p></p>
      <p class="text text-16"><%= checkins_guest %></p>
  </div>
  <div class="element element-8">
      <p class="text text-170">Total Members</p>
      <p></p>
      <p class="text text-17"><%= @people.where(:membership => 'Member').count %></p>
  </div>
  <div class="element element-9">
      <p class="text text-180">Average Donations</p>
      <p></p>
      <p class="text text-18"><%= number_to_currency(donation_average) %></p>
  </div>
  <div class="element element-10">
      <p class="text text-190">Regular Checkins</p>
      <p></p>
      <p class="text text-19"><%= checkins_regular %></p>
  </div>

</body>
</body>
</html>
