<% @page_title = "Giving Report" %>

<h3>
  <% prime = Metum.where(:modeltype => "hgift").last  %>
  Last update: <%= prime.last_import %> - <%= link_to "Download Full CSV", "http://#{Setting.first.site_url}/reports/#{prime.last_id_imported}" %>
</h3>

      <table summary="Person list">
        <% first = @hgifts.first %>
         <tr>
           <th class="householdgiving_grid_names">Campus</th>
           <th class="householdgiving_grid_names">Family</th>
           <th class="householdgiving_grid_dates"><%= first.month1[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month2[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month3[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month4[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month5[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month6[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month7[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month8[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month9[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month10[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month11[0] %></th>
           <th class="householdgiving_grid_dates"><%= first.month12[0] %></th>
           <th class="householdgiving_grid_names">Annual Avg</th>
           <th class="householdgiving_grid_names">Last Qtr Avg</th>
         </tr>
         <% @hgifts.all.each do |h| %>
       <tr>
          <td class="householdgiving_content"><%= h.campus %></td>
          <td class="householdgiving_content"><%= h.family %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month1[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month2[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month3[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month4[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month5[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month6[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month7[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month8[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month9[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month10[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month11[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.month12[1], precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.annavg, precision: 0) %></td>
          <td class="householdgiving_content"><%= number_to_currency(h.lastqtravg, precision: 0) %></td>
      </tr>
      <% end %>

      </table>
