
<% @page_title = "Show Person" %>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<% pid = @person[:pco_id] %>
<% id = @person[:id] %>
<% @checkincal = checkin_grid(pid) %>
<% @donationcal = donation_grid(pid) %>
<% @servingcal = donation_grid(pid) %>
<% @groupscal = groups_grid(pid) %>


<div id="row1">
  <div class="peopleshowcolumn peopleshowcolumn_master_top">
    <p class="peopleshowcolumn_header_master">Contact</p>
    <p>
    <% if !@person.people_thumbnail.nil? %>
        <%= image_tag(@person.people_thumbnail, :alt => "thumbnail", :class => "person_show_image") %>
    <% else %>
        <%= image_tag('no_photo_thumbnail_gray.svg', :alt => "thumbnail", :class => "person_show_image") %>
    <% end %>
    </br></br>

  </div>
  <div class="peopleshowcolumn peopleshowcolumn_people">
    <p class="peopleshowcolumn_header_people">Member Status</p>
    <p><span class="peopleshowcolumn_content_prefix">Campus:</span></p>
    <p><span class="peopleshowcolumn_content"><%= !@person.campus.nil? ?  @person.campus : " " %></span></p>
    <p><span class="peopleshowcolumn_content_prefix">Status:</span></p>
    <p><span class="peopleshowcolumn_content"><%= !@person.membership.nil? ? @person.membership : " " %></span></p>
  </div>
  <div class="peopleshowcolumn peopleshowcolumn_checkins">
        <p class="peopleshowcolumn_header_checkins">CheckIns</p>
        <p><span class="peopleshowcolumn_content_prefix">First CheckIn</span></p>
        <p><span class="peopleshowcolumn_content">
        <% if !@person.check_ins.empty? %>
            <%= @person.check_ins.bydate.first.checkin_time.to_date.strftime("%m/%d/%Y") %></span>
        <% else %>
            n/a
        <% end %>
        </p>
        <p>
            <span class="peopleshowcolumn_content_prefix">Total Checkins</span>
        </p>
        <p><span class="peopleshowcolumn_content">
          <% if !@person.check_ins.empty? %>
          <%= @person.check_ins.bydate.count %></span>
          <% else %>
              0
          <% end %>
        </p>
        <p>
        <p>
            <span class="peopleshowcolumn_content_prefix">Avg Attendance</span>
        </p>

  </div>
  <div class="peopleshowcolumn peopleshowcolumn_giving">
        <p class="peopleshowcolumn_header_giving">Giving</p>
    <% if !@person.donations.empty? %>
            <p><span class="peopleshowcolumn_content_prefix">First Gift</span></p>
            <p><span class="peopleshowcolumn_content">
            <%= @person.donations.bydate.first.donation_created_at.to_date.strftime("%m/%d/%Y") %></span></p>
                <p>
                    <span class="peopleshowcolumn_content_prefix">Avg Gift</span>
                </p>
                <p><span class="peopleshowcolumn_content">
                  $<%= @person.donations.bydate.average(:amount).to_f.round(2) %></span></p>
                <p>
                    <span class="peopleshowcolumn_content_prefix">Giving Frequency</span>
                </p>
                <p><span class="peopleshowcolumn_content">
                  <% if @person.donations.bydate.count > 0 %>
                      <% dcount = @person.donations.bydate.count %>
                      <% dayssince = Date.today - (@person.donations.bydate.first.donation_created_at.to_date) %>
                      <% weekssince = (dayssince.to_i)/7 %>
                      <% avggiving =  dcount.to_f / weekssince.to_f %>
                      <%= (avggiving * 100).round(2) %>%
                  <% end %>
        </span></p>
        <% else %>
            n/a
        <% end %>
  </div>
  <div class="peopleshowcolumn peopleshowcolumn_serving">
        <p class="peopleshowcolumn_header_serving">Serving</p>
        <p><span class="peopleshowcolumn_content_prefix">Last Served:</span></p>
        <p><span class="peopleshowcolumn_content"></span></p>
        <p><span class="peopleshowcolumn_content_prefix">Service Roles:</br></span></p>
        <%   positions = [] %>
            <% @person.teammembers.each do |p| %>
              <%     positions << p.position %>
            <% end %>
            <p>
            <%   positions.uniq.first(4).each do |role| %>
                  <span class="peopleshowcolumn_content"><%= role %></br></span>
            <% end %>
          </p>
  </div>

<div id="row1">
  <div class="peopleshowcolumn peopleshowcolumn_master_bottom">

    <span class="peopleshowcolumn_content_prefix">PCO_id:  <%=  link_to @person.pco_id, @person.peopleapp_link %></br></span>
    <span class="peopleshowcolumn_content_prefix"><%=  link_to "#{@person.email}", "mailto:"+@person.email  %></br></span>
    <span class="peopleshowcolumn_content_prefix"><%= !@person.mphone.nil? ?  "#{@person.mphone}" : "Ph:  " %></br></span>
    <span class="peopleshowcolumn_content_prefix">Birthdate: <%= !@person.birthdate.nil? ? @person.birthdate : " " %></br></span>
    <% !@person.city.nil? ? city = @person.city : city = "" %>
  </br>
    <p><span class="peopleshowcolumn_content_prefix">Address</span></p>
    <% !@person.street.nil? ? street = @person.street : street = "" %>
    <% !@person.city.nil? ? city = @person.city : city = "" %>
    <% !@person.state.nil? ? state = @person.state : state = "" %>
    <% !@person.zip.nil? ? zip = @person.zip : zip = "" %>
    <p><span class="peopleshowcolumn_content"><%= street %></span>
    <span class="peopleshowcolumn_content"><%= city %>, <%= state %>  <%= zip %></span></p>
  </div>
  <div class="peopleshowcolumn peopleshowcolumn_groups">
    <p class="peopleshowcolumn_header_groups">Groups</p>
    <p>
        <span class="peopleshowcolumn_content_prefix">Member of:</span>
    </p>
    <% if @person.ingroups.empty? %>
        <span class="peopleshowcolumn_content">n/a</span>
    <% else %>
        <% @person.ingroups.each do |group| %>
            <span class="peopleshowcolumn_content"><%= group.description %><br/></span>
        <% end %>
    <% end %>
    <br/>
    <p>
        <span class="peopleshowcolumn_content_prefix">Group Leader:</span>
    </p>
    <% leading = @person.group_memberships.where(:leader => 1) %>
    <% if leading.empty? %>
        <span class="peopleshowcolumn_content">n/a</span>
    <% else %>
        <%  leading.each do |leads| %>
          <span class="peopleshowcolumn_content"><%=  Group.where(:id => leads.group_id)[0].description  %></br></span>
        <% end %>
    <% end %>
  </div>
  <div class="peopleshowcolumn peopleshowcolumn_pledge">
        <p class="peopleshowcolumn_header_pledge">Pledges</p>
        <% case @person.pledges[0].periodicity %>
        <% when "weekly" %>
          <% per1 = "Week" %>
          <% per2 = "Weeks" %>
          <% totalcommittment = (@person.pledges[0].pledge_perperiod * (@person.pledges[0].pledge_periods)) + @person.pledges[0].initial_gift %>
        <% when "monthly" %>
          <% per1 = "Month" %>
          <% per2 = "Months" %>
          <% totalcommittment = (@person.pledges[0].pledge_perperiod * (@person.pledges[0].pledge_periods)) + @person.pledges[0].initial_gift %>
        <% when "annually" %>
          <% per1 = "Year" %>
          <% per2 = "Years" %>
          <% totalcommittment = (@person.pledges[0].pledge_perperiod * (@person.pledges[0].pledge_periods)) + @person.pledges[0].initial_gift %>
        <% when "none" %>
          <% per1 = "" %>
          <% per2 = "" %>
          <% totalcommittment = @person.pledges[0].initial_gift %>
        <% end %>
        <p><span class="peopleshowcolumn_content_prefix">Active Pledges</span></p>
        <p>
        <span class="peopleshowcolumn_content"><%= @person.pledges[0].campaign.campaign_name %></br></span>
        <span class="peopleshowcolumn_content">$<%= @person.pledges[0].pledge_perperiod %>/<%= per1 %> for <%= @person.pledges[0].pledge_periods %> <%= per2 %></br> </span>
        <span class="peopleshowcolumn_content">Total: $<%= totalcommittment %></span>
        </p>

  </div>
  <div class="peopleshowcolumn peopleshowcolumn_lists">
        <p class="peopleshowcolumn_header_lists">Lists</p>



  </div>
  <div class="peopleshowcolumn peopleshowcolumn_mc">
        <p class="peopleshowcolumn_header_mc">Communication</p>
        <% if Mailchimplist.where(:email_address => @person.email).empty? %>
        <%     open_rate = "" %>
        <%     click_rate = "" %>
        <% else %>
        <%     mailchimpstats = Mailchimplist.where(:email_address => @person.email) %>
        <%     click_rate = mailchimpstats[0].click_rate %>
        <%     open_rate = mailchimpstats[0].open_rate %>
        <% end  %>
        <p><span class="peopleshowcolumn_content_prefix">MC Open Rate:</span></p>
        <p><span class="peopleshowcolumn_content"><%= open_rate %> %</span></p>
        <p><span class="peopleshowcolumn_content_prefix">MC Click Rate:</span></p>
        <p><span class="peopleshowcolumn_content"><%= click_rate %> %</span></p>
  </div>
  <div id="clear"></div>
</div>




<div class="people_show">


  </br></br></br></br></br>



            <% data_table_checkin = GoogleVisualr::DataTable.new      %>
            <%     data_table_checkin.new_column('date'  , 'Date')    %>
            <%     data_table_checkin.new_column('number', 'Vol/Att') %>
            <%     data_table_checkin.add_rows(@checkincal)           %>
            <% data_table_donation = GoogleVisualr::DataTable.new     %>
            <%     data_table_donation.new_column('date'  , 'Date')   %>
            <%     data_table_donation.new_column('number', 'Vol/Att')%>
            <%     data_table_donation.add_rows(@donationcal)         %>
            <% data_table_serving = GoogleVisualr::DataTable.new      %>
            <%     data_table_serving.new_column('date'  , 'Date')    %>
            <%     data_table_serving.new_column('number', 'Vol/Att') %>
            <%     data_table_serving.add_rows(@servingcal)           %>
            <% data_table_groups = GoogleVisualr::DataTable.new       %>
            <%     data_table_groups.new_column('date'  , 'Date')     %>
            <%     data_table_groups.new_column('number', 'Vol/Att')  %>
            <%     data_table_groups.add_rows(@groupscal)             %>

          <%     opts   = { :title => "Check-Ins", :width => 800, :height => 300, tooltip: { isHtml: FALSE }, calendar: { cellSize: 13.5 } } %>
          <%     @chart_checkin = GoogleVisualr::Interactive::Calendar.new(data_table_checkin, opts) %>
          <%     opts   = { :title => "Donations", :width => 800, :height => 300, tooltip: { isHtml: FALSE }, calendar: { cellSize: 13.5 } }%>
          <%     @chart_donation = GoogleVisualr::Interactive::Calendar.new(data_table_donation, opts)%>
          <%     opts   = { :title => "Serving", :width => 800, :height => 300, tooltip: { isHtml: FALSE }, calendar: { cellSize: 13.5 } }%>
          <%     @chart_serving = GoogleVisualr::Interactive::Calendar.new(data_table_serving, opts)%>
          <%     opts   = { :title => "Groups**", :width => 800, :height => 300, tooltip: { isHtml: FALSE }, calendar: { cellSize: 13.5 } }%>
          <%     @chart_groups = GoogleVisualr::Interactive::Calendar.new(data_table_groups, opts)%>

  <div id='chart1' style="height: auto;"></div>
  <%= render_chart @chart_checkin, 'chart1' %>
  <div id='chart2' style="height: auto;"></div>
  <%= render_chart @chart_donation, 'chart2' %>
  <div id='chart3' style="height: auto;"></div>
  <%= render_chart @chart_serving, 'chart3' %>
  <div id='chart4' style="height: auto;"></div>
  <%= render_chart @chart_groups, 'chart4' %>
